body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height to fill viewport */
}

.w3-container {
    width: 50%;
    margin: auto; /* Center horizontally */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #0097a7;
}

.form-box input[type="text"],
.form-box input[type="Date"],
.form-box input[type="time"],
.form-box input[type="number"],
.form-box input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-box button {
    padding: 10px 20px;
    background-color: #0097a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #007b8a;
}

@media (max-width: 768px) {
    .w3-container {
        width: 90%;
    }
}
.footer {
    background-color: #ffa600; /* สีเดียวกับ navbar */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.full-width-image {
    width: 100%;
    height: auto; /* Ensure the aspect ratio is maintained */
}